@model Shop.Models.Productos

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Productos</h4>
<hr />
<div class="row-no-gutters">
    <form><img src="~/images/slider07.jpg" width="285" height="315" align="right" alt="" class="img-circle"></form>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Cliente" class="control-label"></label>
                <input asp-for="Nombre_Cliente" class="form-control" />
                <span asp-validation-for="Nombre_Cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piezas" class="control-label"></label>
                <input asp-for="Piezas" class="form-control" />
                <span asp-validation-for="Piezas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Forma_Pago" class="control-label"></label>
                <input asp-for="Forma_Pago" class="form-control" />
                <span asp-validation-for="Forma_Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatus" class="control-label"></label>
                <input asp-for="Estatus" class="form-control" />
                <span asp-validation-for="Estatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
